header{
  text-align:center;
  background-size: cover;
  font-family: 'Lora', serif;
}
  a{
    color:#0d294b;
  }

  img{
     width:900px;
  }

  h1{
    color: #0d294b;
    font-size: 25px;
    font-family: 'Lora', serif;
    text-align:center;
    }

  body{
    background-color: #c4e8d6;
    }

  ul.nav li{
      display: inline-block;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 20px;
}

   ul{
    background-color:#c4e8d6;
    text-align:center;
    font-family:'Lora', serif;;
    padding: 10px;
  }
