header{
  text-align:center;
  background-size: cover;
  font-family: 'Lora', serif;
  margin-top: none;
}
  a{
    color:#0d294b;
  }

  img{
     width:450px;
     background-color: #c4e8d6;
     margin-top: 0px;
  }





  h1{
    color: #0d294b;
    background-color: #c4e8d6;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lora', serif;
    text-align:center;
    }

    h2{
      color: #0d294b;
      background-color: #c4e8d6;
      font-size: 25px;
      font-weight: bold;
      font-family: 'Lora', serif;
      text-align: center;
      }
p {
  text-align: center;
}

.btn-primary {
    background-color: #0d294b;
    border:none ;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
    float: center;
}
  body{
    background-color: #c4e8d6;
    }

  ul.nav li{
      display: inline-block;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 20px;
}

   ul{
    background-color:#c4e8d6;
    text-align:center;
    font-family:'Lora', serif;;
    padding: 10px;
  }
img.img-circle {
  max-height: 150px;
  max-width: 150px;
  width: 150px;
  height: 150px;
  margin-left: 550px;
  margin-right: 550px;
}
blockquote {
  text-align: center;
}
